/* Todos los H1 serán verdes por defecto */
h1 {
  color: green;
  font-family: Arial, sans-serif;
}

/* Clase blue: texto azul */
.blue {
  color: blue;
}

/* ID red: texto rojo */
#red {
  color: red;
}

